<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Iteration" value="TrelloTfs\Iteration 1" />
    <!-- Valid values are Task, Bug and User Story. Comma separated.-->
    <add key="WorkItemTypes" value="Task, Bug, User Story"/>
    <add key="TrelloKey" value="INSERT_YOUR_TRELLO_APPLICATION_KEY"/>
    <!-- Token for giving read/write access to someone's Trello account. Check https://trello.com/1/authorize?key=90b152bb35a3cdfe291b23807b9af2c0&name=SuperApp&expiration=never&response_type=token&scope=read,write -->
    <add key="TrelloToken" value="INSERT_YOUR_TRELLO_TOKEN"/>
    <!-- The Trello board id that should be used. Visible in the url of a given board on http://trello.com -->
    <add key="BoardId" value="INSERT_YOUR_TRELLO_BOARD_ID" />
    <!-- The url to the TFS collection that should be copied. -->
    <add key="TfsUrl" value="http://localhost:8080/tfs/DefaultCollection" />
    <!-- The TFS project name where work items should be fetched from. -->
    <add key="TfsProject" value="TrelloTfs" />
    <add key="PollingInterval" value="30000" />
  </appSettings>
  <startup>
    <users>
      <user>
        <name>YOUR NAME HERE</name><!-- The name in TFS as seen in the "Assigned To" -->
        <trelloUsername>YOUR USERNAME HERE</trelloUsername>
      </user>
    </users>
  </startup>
</configuration>